@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap");
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(167, 248, 221);
    height:100vh;
    width: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
   

    
}
main{
    display: grid;
    grid-template-areas:
    "card1 card2 card3";
    align-content: center;
    width: 50vw;
    padding: 20px;
    margin-left: 50%

    
    
    
}
div{
    padding:20px;
}
.card1{
    background-color: hsl(31, 77%, 52%);
    grid-area: "card1";

}
.card2{
    background-color: hsl(184, 100%, 22%);
    grid-area: "card2";
    

}
.card3{
    background-color:  hsl(179, 100%, 13%);
    grid-area: "card3";

}
h1{
    font-family: Big Shoulders Display;
    (https://fonts.google.com/specimen/Big+Shoulders+Display);
    font-weight:700 ;
}
.img{
        padding-bottom: 15px;
}
p{
    font-size: 15px;
    padding-top:15px;
    font-family: Lexend Deca;
    (https://fonts.google.com/specimen/Lexend+Deca);
    font-weight: 400;
    
}
button{
    border-radius: 25px;
    text-align: center;
    background-color: hsl(0, 0%, 95%);
    border: none;
    height:5vh;
    width: 8vw;
    margin-top: 30px;   

}
@media screen and (max-width: 1440px){
    body{
        background-color: rgb(167, 248, 221);
        height:100vh;
        width: 100vh;
        display: grid;
        align-content: center;
        justify-content: center;
    }
        main{
            display: grid;
            grid-template-areas:
            "card1 card2 card3";
            align-content: center;
            width: 50vw;
            padding: 20px;
            margin-left: 50%
                
        }

       
}
@media screen and (max-width: 357px){
    body{
        background-color: rgb(167, 248, 221);
        height:100vh;
        width: 35vw;
        display: grid;
        align-content: center;
        justify-content: center;
        
    }

        main{
            display: grid;
            grid-template-areas:
            "card1"
            "card2"
            "card3";
            align-content: center;

            padding: 20px;
            
             
                
        }
        button{
            border-radius: 25px;
            text-align: center;
            background-color: hsl(0, 0%, 95%);
            border: none;
            height:3vh;
            width: 25vw;
            margin-top: 30px;   
        
        
 
}
